
      <h2>Manage Products</h2>
      <hr>
      <div class="input-group text-right col-sm-4 col-sm-offset-8">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input class="form-control" type="search" ng-model="search" placeholder="Search Products">
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-6">Name - Description</th>
            <th class="col-sm-1">Price</th>
            <th class="col-sm-2">Stock</th>
            <th class="col-sm-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products | filter:search">
            <td class="col-sm-6">
              <dl>
                <dt>{{product.name}}</dt>
                <dd ng-bind-html="product.description | limitTo : 100"></dd>
              </dl>
              <a ui-sref="^.view-product({productId : product._id})">Preview This Product</a>
            </td>
            <td class="col-sm-1">{{product.price}}</td>
            <td class="col-sm-2">
              <span ng-show="product.inStock">In Stock</span>
              <span ng-hide="product.inStock">Not In Stock</span>
            </td>
            <td class="col-sm-3"><a ui-sref="^.edit-product({productId : product._id})"><button class="btn btn-primary">Edit</button></a>
              <button ng-click="removeProduct(product._id)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
