
    <h2>Add a New Product</h2>
    <hr>
    <h3>{{product.name}}</h3>
    
    <form role="form" method="post">
      
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Product Name</label>
          <input ng-model="product.name" class="form-control" type="text" >
        </div>
      </div>
  
      <div class="row">
        <div class="form-group col-sm-2">
          <label>Price</label>
          <input ng-model="product.price" type="text" class="form-control">
        </div>
        
        <div class="form-group col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" ng-model="product.inStock" ng-value="true">
              In Stock
            </label>
          </div>
          
          <div class="radio">
            <label>
              <input type="radio" ng-model="product.inStock" ng-value="false">
              Out of Stock
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Product Description</label>
        <text-angular ng-model="product.description"></text-angular>
      </div>
      
      <button ng-click="createProduct()" class="btn btn-primary" type="button">Save</button>
    </form>
    <ul class="list-group">
      <li ng-repeat="image in productImages" class="list-group-item">
        <img class="img-preview" src="{{image.serverPath}}" alt="{{image.originalFilename}}">
      </li>
    </ul>

    <div ui-view="edit-images"></div>

