@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.img-preview{
  height: 150px;
}

.img-sm-thumb{
  height: 100px;
}

.container img{
  max-width:100%;
}

// injector
@import 'about/about.less';
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'admin/partials/manage-users/manage-users.less';
@import 'main/main.less';
@import 'media/media.less';
@import 'products/edit-product/edit-product.less';
@import 'products/manage-products/manage-products.less';
@import 'products/new-product/new-product.less';
@import 'products/view-product/view-product.less';
@import 'modal/modal.less';
// endinjector